html, body, .container {
height: 100%;
}
* {
margin: none;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

app-catch-form {
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

