@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

html, body { height: 100%; }
body { margin: 0;
    background: #f5f5f5;
}
.catch-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5em;
    justify-content: center;
}
app-catch-table {
    grid-column: 1 / 2;
}